body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("./assets/backgroundLibrary.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: 100%;
  opacity: 0.2;
  background-size: 20%;
  z-index: -1;
}

header {
  background-color: #71bb91;
  height: 60px;
}
