table {
  background-color: white;
  text-align: center;
  width: 100%;
  height: 175px;
}

.search-table-container {
  background-color: none;
  flex-direction: column;
  margin-bottom: 50px;
  justify-content: center;
  text-align: center;
  justify-self: center;
  width: 80%;
  overflow-y: auto;
  max-height: 500px;
}

table,
th,
td {
  border: 1px solid rgb(170, 170, 170);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif !important;
}

th,
td {
  padding: 10px;
  text-align: left;
}

td {
  border-right: 1px solid rgb(170, 170, 170, 0.5) !important;
  border-bottom: 1px solid rgba(170, 170, 170, 0.5) !important;
}

thead {
  background-color: #71bb91;
  color: white;
}

input[type="text"] {
  padding: 5px;
  margin-right: 10px;
}

button {
  padding: 5px 10px;
}

.card-search {
  background-color: white;
  box-shadow: 10px 10px 10px #71bb9186;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  justify-content: center;
  text-align: center;
  justify-self: center;
  margin-top: 50px;
  width: 80%;
  height: 175px;
  border-radius: 15px;
  border-color: rgb(170, 170, 170);
}

.bton-search {
  width: 100px;
  background-color: #71bb91 !important;
  border: none !important;
  margin: 15px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif !important;
  border-radius: 15px;
  color: white !important;
  box-shadow: 5px 5px 5px #71bb9186;
}

.bton-search:hover {
  box-shadow: none;
  font-weight: bolder;
  color: white !important;
}

.name-input {
  width: 80%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 5px;
  font-size: 0.9rem;
}

.title-page {
  margin-top: 15px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bolder;
}

.table-index {
  text-decoration: none; /* Elimina el subrayado */
  color: inherit; /* Hereda el color del texto del contenedor */
}

/* Para cuando el NavLink está activo, anulamos cualquier estilo */
.table-index.active {
  color: inherit; /* Mantén el color normal */
  background: none; /* Elimina el fondo */
  box-shadow: none; /* Elimina la sombra */
}
